html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }

.spring {
    background-color: #fee8ff;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;

    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.spring .container {
    width: 80%;
    background-color: #f8dff3cc;
    margin: 40px auto;
    border: 3px solid #cd1071;
    border-radius: 15px;

    display: grid;
    grid-template-areas:
        "header header header"
        "nav    main   aside"
        "footer footer footer";

   
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 15px;
    padding: 10px;
}

header,
nav,
aside,
footer {
    padding: 10px;
}

main {
    padding: 5px;
    margin: 5px;
}


.spring header {
    grid-area: header;
    background-color: #f3a9f0d2;
    text-align: center;
    border-color: #f078dcd2;
    border-radius: 10px;
}

.spring nav {
     grid-area: nav;
    background-color: #309853ee;
    border-color: #094b1f;
    border-radius: 10px;
    padding: 10px;
}

.spring nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spring nav li {
    display: inline-block;
    background-color: #da9ace;
    width: 100px;
    padding: 6px 7px;
    text-align: center;
    margin: 8px;
    border-radius: 100px;
}

.spring nav a {
    text-decoration: none;
    color: black;
}

.spring nav a:hover {
    color: #e8f4ff;
}

.spring main {
    grid-area: main;
    background-color: #dda5cd5a;
    border-radius: 10px;
}

.spring section {
    background-color: #e6a9e1;
    border: 3px solid #82055a;
    border-radius: 5px;
    padding: 5%;
    margin: 3%;
}

.spring aside {
    grid-area: aside;
    background-color: #d89cdba0;
    border-color: #82055a;
    border-radius: 10px;
    padding: 15px;
}

.spring footer {
    grid-area: footer;
    background: #edb8ddd2;
    border-color: #edb8e1d2;
    border-radius: 10px;
    text-align: center;
}

