/* START border-box fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* END border-box fix */

body {
    background-color: #ccf0e0a0;
    background-image: url(images/img01.webp);
    font-family: 'Times New Roman', Times, serif;
    color: #000000;

}

div.container {
    width: 60%;
    background-color: #ccf0e0a0;
    /* center the div container */
    margin: 40px auto;
    border: 3px solid #16725b;
    border-radius: 15px;
}

header,
nav,
aside,
footer {
    padding: 10px;
}

main{
    padding:5px;
    margin:5px;
}

header {
    background-color:#d4f5f5d2;
    text-align: center;
    border: 0px solid #d4f5f5d2;
    border-radius: 10px;

}

nav {
    background-color: #099176ee;
    width: 15%;
    height: 170px;
    float: left;
    border: 3px solid #16725b;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

nav li {
    display: inline-block;
    background-color: #ba6541;
    width: 100px;
    padding: 6px 7px;
    text-align: center;
    margin: 8px ;
    border-radius: 100px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;

}

nav a {
    text-decoration: none;
    color: #0b0000;
}

nav a:hover {
    color: #ccf0e0a0;
}

main {
    background-color: #ccf0e0a0;
    width: 60%;
    height: 400px;
    float: left;


}

section {
    background-color: #f4ad08a0;
    border: 3px solid #704603;
    border-radius: 5px;
}

aside {
    background-color: #ccf0e0a0;
    width: 15%;
    height: 300px;
    float: left;
    border: 3px solid #16725b;
    border-radius: 10px;
    padding: 15px;
    margin: 19px;
}

footer {
    background: #d4f5f5d2;
    clear: both;
    border: 2px solid #d4f5f5d2;
    border-radius: 10px;
}

