  body {
      background-color: rgb(82, 207, 205);
      color: rgb(5, 24, 5);
      font-family: "Kavoon", serif;
      font-weight: 100;
      font-style: normal;
      margin: 0;
      padding: 0;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 0;
  }

  header {
      background-color: #f9f9fa;
      border: 10px solid rgb(0, 0, 0);
      border-radius: 10px;
      text-align: center;
      padding: 30px;
  }

  nav {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 15px;
  }

  nav a {
      text-decoration: none;
      font-weight: bold;
      color: #000;
      background: #e0f7fa;
      padding: 10px 20px;
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
  }

  nav a i {
      margin-right: 8px;
  }

  nav a:hover {
      color: #fdfcfb;
      text-decoration: underline;
      text-underline-offset: 5px;

      transform: translateY(-5px) scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      background: #d1c4e9;
      color: #ffffff;
  }


  main {
      background-color: #ffffff;
      padding: 20px;
      border: 10px solid rgb(0, 0, 0);
      border-radius: 10px;
  }

  img {
      border: 10px solid rgb(0, 0, 0);
      border-radius: 10px;
      padding: 10px;
      transition: transform 0.3s;

  }

  img:hover {
      transform: scale(1.2) rotate(-10deg);
      box-shadow: 0 0 100px rgba(0, 0, 0, 1);

  }

  footer {
      background-color: #f4f6f9;
      background-color: rgb(82, 207, 205);
      text-align: center;


  }

  footer h3,
  ul {
      border: 5px solid rgb(0, 0, 0);
      background-color: rgb(252, 252, 252);
      padding: 10px;
      margin-top: 20px;

  }

  footer ul,
  li {
      background-color: rgb(252, 252, 252);
      padding: 10px;
      margin-top: 0px;

  }

  p {
      font-family: "Caveat", cursive;
      font-weight: 400;
      font-style: italic;
      text-align: center;
  }